:root {
  --pixel-size: 4px;
  --grid-cell: calc(var(--pixel-size) * 16);
  /* --bg: #9fa7e4; */
  --bg: #222;
}
@media (min-width: 700px) {
  :root {
    --pixel-size: 4px;
  }
}
@media (min-width: 1000px) {
  :root {
    --pixel-size: 4px;
  }
}
/* @media( min-width: 1000px ) {
  :root {
     --pixel-size: 5px;
  }
} */

html,
body {
  height: 100%;
  font-family: Consolas;
  overflow-x: hidden;
  margin: 0;
  
}

body {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.pixel-art {
  image-rendering: pixelated;
}

.frame {
  /* This is just for Pen decoration */
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  outline: var(--pixel-size) solid #fff;
  z-index: 1;
  position: relative;
}

.camera {
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  overflow: hidden;
  /* background: #61ddf7; */
  background: rgb(152, 236, 152);
  position: relative;
}

.map {
  image-rendering: pixelated;
  background-image: url('map.png');
  background-size: 100%;
  width: calc(16 * var(--grid-cell));
  height: calc(24 * var(--grid-cell));
  position: relative;
}

.character {
  width: calc(var(--grid-cell) * 2);
  height: calc(var(--grid-cell) * 2);
  position: absolute;
  overflow: hidden;
}

.shadow {
  width: calc(var(--grid-cell) * 2);
  height: calc(var(--grid-cell) * 2);
  position: absolute;
  left: 0;
  top: 0;
  background: url('https://assets.codepen.io/21542/DemoRpgCharacterShadow.png')
    no-repeat no-repeat;
  background-size: 100%;
}

.character_spritesheet {
  position: absolute;
  /* background: url('https://assets.codepen.io/21542/DemoRpgCharacter.png') */
  background: url('./player/default.webp')
    no-repeat no-repeat;
  background-size: 100%;
  width: calc(var(--grid-cell) * 8);
  height: calc(var(--grid-cell) * 8);
}

.character[facing='right'] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -32);
}
.character[facing='up'] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -64);
}
.character[facing='left'] .character_spritesheet {
  background-position-y: calc(var(--pixel-size) * -96);
}
.character[walking='true'] .character_spritesheet {
  animation: walkAnimation 0.6s steps(4) infinite;
}

@keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}

.dpad {
  position: absolute;
  right: calc(var(--pixel-size) * 2);
  bottom: calc(var(--pixel-size) * 2);
  width: calc(var(--pixel-size) * 37);
  height: calc(var(--pixel-size) * 38);
}
.dpad-button {
  appearance: none;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
.dpad-button svg {
  display: block;
  height: calc(var(--pixel-size) * 13);
}

.dpad-button.pressed .Arrow_arrow-inset {
  stroke: #07c2cc;
}
.dpad-button.pressed .Arrow_arrow-body {
  stroke: #17dfea;
}

.dpad-up {
  position: absolute;
  left: calc(var(--pixel-size) * 12);
  top: 0;
}
.dpad-down {
  position: absolute;
  bottom: var(--pixel-size);
  left: calc(var(--pixel-size) * 12);
}
.dpad-left {
  position: absolute;
  top: calc(var(--pixel-size) * 12);
  left: 0;
}
.dpad-right {
  position: absolute;
  top: calc(var(--pixel-size) * 12);
  right: 0;
}

.dpad {
  user-select: none;
}

.corner_topleft,
.corner_topright,
.corner_bottomleft,
.corner_bottomright {
  position: absolute;
  width: var(--pixel-size);
  height: var(--pixel-size);
  background: var(--bg);
  z-index: 2;
}

.corner_topleft {
  top: calc(var(--pixel-size) * -1);
  left: calc(var(--pixel-size) * -1);
}
.corner_topright {
  top: calc(var(--pixel-size) * -1);
  right: calc(var(--pixel-size) * -1);
}
.corner_bottomleft {
  bottom: calc(var(--pixel-size) * -1);
  left: calc(var(--pixel-size) * -1);
}
.corner_bottomright {
  bottom: calc(var(--pixel-size) * -1);
  right: calc(var(--pixel-size) * -1);
}

.headline {
  position: absolute;
  top: calc(var(--pixel-size) * 2);
  right: calc(var(--pixel-size) * 2);
  width: calc(var(--pixel-size) * 75);
}

.placeBlock {
  position: absolute;
  top:71%;
  left: 18%;
  width: 10%;
  height: 5%;
  box-sizing: border-box;
  background-color: rgba(252, 249, 105, 0.4);
  border: 4px dashed #eaee1c;
  z-index: -2;
}
.question {
  position: absolute;
  background-color: white;
  min-width: 500px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border: 3px solid #444;
  font-family: Consolas;
  padding: 20px;
  display: none;
}

.question__title {
  margin: 0;
  color: #444;
  font-size: 24px;
}
.question__text {
  margin: 0;
  padding-top: 50px;
  color: #444;
  font-size: 18px;
}
.question__form {
  border: 0;
  border-bottom: 1px solid #444;
  margin-top: 50px;
  color: #444;
  font-size: 18px;
}

.question__form:focus {
  outline: none;
}
.question_active {
  display: block;
}

.wall {
  position: absolute;
}
.long-wall {
  position: absolute;
}

.auth {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  background-color: white;
  z-index: 100;
  padding-top: 60px;
  top: 0;
  left: 0;


}
.customization {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  width: 400px;
}

.customization__hair-colors {
  display: flex;
  justify-content: center;
  width: inherit;

}

.customization__player {
  /* background: url('https://assets.codepen.io/21542/DemoRpgCharacter.png') */
  background: url('./player/default.webp')
    no-repeat no-repeat;
  background-size: 700px;
  width: 180px;
  height: 180px;
  image-rendering: pixelated;

}
.customization__tshirt-color {
  display: block;
  visibility: hidden;
  width: 40px;
  height: 40px;
  margin: 10px;
}
.customization__tshirt-color::before {
  content: "";
  display: block;
  visibility: visible;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
}
.customization__tshirt-color:checked::before {
  border: 4px solid black;
}
.customization__tshirt-color_color_active::before {
  background-color: rgb(82, 82, 82);
}
.customization__tshirt-color:disabled::before {
  opacity: 0.3;
}
.customization__hair-color {
  display: block;
 visibility: hidden;
 width: 40px;
 height: 40px;
 margin: 10px;
}
.customization__hair-color::before {
  content: "";
  display: block;
  visibility: visible;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
}
.customization__hair-color:checked::before {
  border: 4px solid black;
}
.customization__hair-color_color_black::before {
  background-color: rgb(32, 32, 32);
}
.customization__hair-color_color_brown::before {
  background-color: rgb(139, 86, 73);
}
.customization__hair-color_color_gray::before {
  background-color: rgb(94, 94, 94);
}
.customization__hair-color_color_yellow::before {
  background-color: rgb(239, 247, 136);
}

.customization__hair-type {
  display: block;
 visibility: hidden;
 position: absolute;
}
.customization__hair-type::before {
  content: "";
  display: block;
  visibility: visible;


}
legend {
  font-size: 18px;

  color: #444;
}
label {
  margin: 10px;
}
input[type="radio"]:checked+label{ font-weight: bold; } 

.customization__section {
  border: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  margin-top: 20px;
  width: 500px;
}
.form-auth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.form-label {
  display: block;

}
.form-input {
  width: 250px;
  height: 30px;
  font-size: 18px;
  font-family: Consolas;
  margin: 15px 0;
  padding-left: 7px;
}
.form-submit {
  width: 200px;
  height: 40px;
  background-color: #000000;
  color: white;
  margin-top: 20px;
  border: 0;
}
.info {
  width: 500px;
  margin: 0 auto;
  align-self: flex-start;
  border: 1px solid red;
  font-size: 18px;
  display: flex;
  justify-content: space-around;

}

.info__text {
  font-weight: bold;
  color: white;
}
.info__interface {
  color: #e7ea17;
}
.question_result {
  display: block;
  font-weight: bold;
}
.block-item__disabled {
  background: rgb(243, 155, 140);
  border: 4px dashed rgb(228, 105, 105);
}

.block-item__success {
  background: rgb(193, 255, 193);
  border: 4px dashed rgb(118, 160, 118);
}

.report {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 50%;
  background-color: white;
  z-index: 5;
  top: 0;

  align-items: center;
}
.report__title {
  text-align: center;
}

.report__info {
  width: 250px;
  align-self: flex-end;
  border-bottom: 1px solid #aaa;
  padding: 5px;

}
.report__all-info {
  margin: 0 0 10px 0;
}
.report__surname {
}
.report__name {

}
.report__patronymic {
  
}
.report__phone {
  
}

.report__date {
  
}
.report__class {
  
}

.question__img {
}

/* Отчет блок */
.blockSubject {
  margin-top: 10px;
  margin-bottom: 35px;

  width: 90%;
}

.blockSubject__title {
  font-size: 20px;
  font-weight: normal;
}

.blockSubject__answer {
  border-bottom: 1px solid #aaa;
}

.blockSubject__level {
  text-decoration: underline;
}
.report__image {
  width: 45%;
}

.block-item__unuse {
  background-color: rgba(197, 197, 197, 0.4);
  border: 4px dashed #616161;
}
.field-block h1 {
  display: none;
  margin: 0;
}
/* @media screen and (max-width: 999px) {
  .field-block {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .field-block h1 {
    z-index: 10322;
    color: white;
    display: block;
  }
} */